body
{
    color:#333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px ;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.main-content
{
    flex-grow: 1;
}
footer
{
    color:#888888 ;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16 0 ;
}
header
{
    margin-top: 16px;
    margin-bottom:48px ;
}
h1
{
   font-size: 64px;
   margin-bottom: 16px;
}
header a
{
    color:#888 ;
    margin-right: 16px;
    text-decoration: none;
}
.portrait
{
    width: 250px;
}
input
{
 border: 1px solid #ccc;
 padding: 8px;
}
button
{
    cursor: pointer;
    border: 1px solid #888 ;
    background: #888;
    color: white;
    padding: 8px;
}

























































