<!doctype html>
<html lang="en">
<head>
    <title>404</title>
      <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <div class="main-content">
           {{>header}}
       <h1>{{erorrMessage}}</h1>

    </div>

    {{>footer}}
</body>
</html>