<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/app.js"></script>
</head>
<body>
          <div class="main-content">
            {{>header}}
               <img src="/img/character_test.png" class="portrait " alt="">

          </div>
               <p>Create by {{ name }}</p>
         {{>footer}}
</body>
</html>