<!doctype html>
<html lang="en">
<head>
    <title>help</title>
      <link rel="stylesheet" href="./css/style.css">
    <script src="/js/app.js"></script>
</head>
<body>
             <div class="main-content">
                {{>header}}
              <p>{{helpText}}</p>
    
             </div>
        
    {{>footer}}
</body>
</html>