<!doctype html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <div class="main-content">
         {{>header}}
         <form action="">
             <input type="text" placholder="location">
             <button>Search</button>
         </form>

         <p id="message-1"></p>
         <p id="message-2"></p>
    </div>
       {{>footer}}
<script src="/js/javascript.js"></script>
</body>
</html>
